<div class="container">
  <h1>Angular Forms</h1>
  <form class="card" [formGroup]="login" (ngSubmit)="onLogin()">
<!--    <pre>{{login.get('password')?.errors | json}}</pre>-->
    <div class="form-control">
      <label>Email</label>
      <input type="text" placeholder="Email" formControlName="email">
      <div class="validation" *ngIf="login.controls['email'].invalid && login.controls['email'].touched">
        <small *ngIf="login.get('email')?.errors?.required">required field</small>
        <small *ngIf="login.get('email')?.errors?.email">invalid email</small>
        <small *ngIf="login.get('email')?.errors?.restrictedEmail">restricted email</small>
      </div>
    </div>

    <div class="form-control">
      <label>Пароль</label>
      <input type="password" placeholder="Пароль" formControlName="password">
      <div class="validation" *ngIf="login.get('password')?.touched && login.get('password')?.invalid">
        <small *ngIf="login.get('password')?.errors?.minlength">
          min length {{login.get('password')?.errors?.minlength.requiredLength}}
        </small>
      </div>
    </div>

    <button class="btn" [disabled]="login.invalid">login</button>
  </form>

  <form class="card" [formGroup]="register" (ngSubmit)="onRegister()">
    <div class="form-control">
      <label>Ім'я</label>
      <input type="text" placeholder="Ім'я" formControlName="name">
      <div class="validation"></div>
    </div>
    <div class="card" formGroupName="address">
      <h2>Адреса</h2>

      <div class="form-control">
        <label>Країна</label>

        <select formControlName="country" (change)="onCountryChange()">
          <option *ngFor="let country of countries" [value]="country.code">{{country.country}}</option>
        </select>
      </div>

      <div class="form-control">
        <input type="text" formControlName="city">
      </div>

      <button class="btn" type="button">Вибрати столицю</button>
    </div>
<!-- fix need bind ArrayForm and html  adding directive formArrayName='skills '-->
    <div class="card" formArrayName="skills">
      <h2>Навики</h2>
      <button class="btn" (click)="addSkill()">Добавити</button>
      <div class="form-control" *ngFor="let control of getSkillsController()['controls']; let idx = index">
        <label>Skill #{{idx}}</label>
        <input type="text" [formControlName]="idx">
      </div>
    </div>

    <button class="btn" [disabled]="register.invalid">Відправити</button>

  </form>
</div>
