<div class="card">
  <p>Counter: {{counterService.counter}}</p>
  <button class="btn" (click)="counterService.inc()">inc</button>
  <button class="btn" (click)="counterService.dec()">dec</button>
</div>
