div {
  display: flex;
  button {
    border: none;
    color: white;
    outline: none;
    background-color: red;
    padding: 0.5rem 1rem;
    font-size: 1rem;

    &.isActive{
      background-color: green;
    }
  }
}
