<h1>App</h1>
<p appStyle="red" fontSize="26px" [dStyle]="{border: '1px solid #ccc'}">Some desc</p>
<!--<p [class]="className()">1</p>-->
<p class="class2">154</p>
<button class="btn" (click)="isVisible =!isVisible">Toggle</button>

<div *ngIf="isVisible">
  Some text
</div>

<ng-template [ngIf]="isVisible">
  <div>Some Text 22</div>
</ng-template>


<ng-template [appNotIf]="isVisible">
  <div>
    Custom directives
  </div>
</ng-template>

<div *appNotIf="isVisible">
  Custom directives 222
</div>
