<h1>HttpClient</h1>
<form class="card" [formGroup]="form" (ngSubmit)="onCreate()">
  <div class="form-control">
    <input type="text" formControlName="title">
  </div>
  <button class="btn" [disabled]="form.invalid">Add</button>
  <button class="btn" type="button" (click)="get()">Load</button>
</form>

<hr>
<div *ngIf="error; else contentTemp" class="error">{{error}}</div>

<ng-template #contentTemp>
  <div *ngIf="!loading; else loaderTemp">

    <div class="card" *ngFor="let todo of list">
      <p>
        <span [class.completed]="todo.completed">{{todo.title}}</span>
        <span>
          <button class="btn btn-danger" (click)="onRemove(todo.id)">Remove</button>
          <button class="btn" (click)="onResume(todo.id)" [disabled]="todo.completed">Resume</button>
        </span>
      </p>
    </div>
  </div>
</ng-template>

<ng-template #loaderTemp>
  <p>Loading ...</p>
</ng-template>
