<!--<p>{{num | number:'1.0-5'}}</p>-->
<!--<p>{{num | number:'001.0-0'}}</p>-->
<!--<p>{{str | lowercase | uppercase | titlecase}}</p>-->
<!--<p>{{str | slice:1:-2 }}</p>-->
<!--<p>{{date | date : 'hh:ss:mm, YYYY'}}</p>-->
<!--<p>{{float | currency}}</p>-->
<!--<p>{{float | percent}}</p>-->
<!--<pre>{{obj |json }}</pre>-->
<!--<p>{{ 12 | mult: 10}}</p>-->
<input type="text" [(ngModel)]="search">
<button (click)="field = 'name'" class="btn">name</button>
<button (click)="field = 'text'" class="btn">text</button>
<button (click)="push()" class="btn">add</button>
<div *ngFor="let post of posts | filter:search:field" class="card">
  <h3>{{post.name}}</h3>
  <div>{{post.text}}</div>
</div>
<p>Loading ...{{p | async}}</p>
<p>Date {{date | async | date: 'hh:ss'}}</p>
