<div>
  <input type="text" [(ngModel)]="name" placeholder="Name " #inputRef>
  <input type="text" [(ngModel)]="text" placeholder="Text">
  <button class="btn" (click)="createPost()">Crate</button>
  <button class="btn" (click)="focus()">focus</button>
</div>
