<div class="container">
<!--  <app-rxjs></app-rxjs>-->
<!--  <app-counter></app-counter>-->
<!--  <app-local-counter></app-local-counter>-->
<!--  <hr>-->
<!--  <app-counter></app-counter>-->
<!--  <app-local-counter></app-local-counter>-->
  <app-http></app-http>
</div>
