<div class="container">
  <app-post-form
    (onAdd)="createPost($event)"
  ></app-post-form>

  <app-post *ngFor="let post of posts"
            [post]="post"
            (onRemove)="removePost($event)"
  >
    <div #tag>
      <small *ngIf="post.name.length > 10; else shortTemp">Long tag</small>
      <ng-template #shortTemp>
        Short tag
      </ng-template>
    </div>

  </app-post>
</div>
